{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "indent": [
            "warn",
            4,
            {
              "SwitchCase": 2
            }
        ],
        "quotes": ["warn", "single"],
        "semi": ["warn", "always"],
        "linebreak-style": ["warn", "unix"],
        "eol-last": ["warn", "unix"],
        "comma-dangle": ["error", "never"],
        "import/prefer-default-export": "off"
    }
}
